[Interface]
Address = {{ pc.address }}/32
PrivateKey = {{ pc.private_key }}
# DNS = 
Table = 55999
FwMark = 55999
PostUp = ip rule add not fwmark 55999 table 55999
PostUp = ip rule add table main suppress_prefixlength 0
PreDown = ip rule del table main suppress_prefixlength 0
PreDown = ip rule del not fwmark 55999 table 55999

[Peer]
PublicKey = {{ vps.public_key }}
PresharedKey = {{ pc.preshared_key }}
AllowedIPs = {{ wg.allowed_ips }}
Endpoint = {{ wg.endpoint }}
